*{
    margin: 0;
    padding: 0;
}

*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
  border: 3px solid orange;
}

/* this stuff below doesn't
   affect scrollbar styling */


html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('../img/background/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    background-color: #464646;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.checker-main{
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.checker{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.radio{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.radio:hover{
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main__info img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

.main__info > span{
    font-size: 60px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info span p{
    font-size: 40px;
    font-weight: lighter;
}

.main__info > p{
    width: 550px;
    font-size: 25px;
    text-align: center;
}

.mainhr{
    width: 600px;
    height: 5px;
    background: white;
    border-radius: 100px;
}


.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsblock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 35px;
    width: 700px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
}

.project span{
    font-size: 60px;
}

.project p{
    width: 70%;
    text-align: center;
    font-size: 30px;
}

.trafic{
    background-image: url("../img/backobj/Trafic.jpg");
}

.russianarts{
    background-image: url("../img/backobj/RussianArts.jpg");
}

.blanko{
    background-image: url("../img/backobj/blanko.jpg");
}

.vestnik{
    background-image: url("../img/backobj/Vestnik.jpg");
}

.hrprodhr{
    width: 80%;
    background: white;
    height: 5px;
    border-radius: 100px;
}

.project button{
    padding: 20px;
    border-radius: 10px;
    background: #723232;
    color: white;
    transition: 500ms all;
    font-size: 20px;
    border: none;
    width: 250px;
    font-weight: bolder;
}

.project button:hover{
    background: #964545;
    cursor: pointer;
}

.orders{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order{
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #865E82;
    border-radius: 20px;
    color: white;
    height: 22.71vw;
    width: 635px;
}

.order span{
    font-size: 2.34vw;
    font-weight: bolder;
}

.order input{
    width: 75%;
    padding: 0.78vw;
    border-radius: 20px;
    border: none;
    background: white;
}

.hrorderhr{
    width: 80%;
    background: white;
    height: 0.26vw;
    border-radius: 20px;
}

.order button{
    width: 13.02vw;
    border: none;
    font-size: 1.04vw;
    border-radius: 20px;
    background: #723232; 
    padding: 0.78vw;
    color: white;
    font-weight: bolder;
    transition: 500ms;
}

.order button:hover{
    background: #964545;
    cursor: pointer;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme span{
    font-size: 2.86vw;
}

.aboutme p{
    font-size: 1.30vw;
    width: 26.04vw;
    text-align: center;
}

.aboutme img{
    width: 20.83vw;
    height: 20.83vw;
}

.social{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
}

.social span{
    display: flex;
    align-items: center;
    font-size: 2.86vw;
    text-align: center;
}

.social__main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.abouts{
    display: flex;
    justify-content: center;
    align-items: center;
}