*{
    margin: 0;
    padding: 0;
}

*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: rgb(236, 236, 236) rgb(148, 148, 148);
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgb(148, 148, 148);
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: 3px solid rgb(148, 148, 148);
}

/* this stuff below doesn't
   affect scrollbar styling */


html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 500;
    background: rgb(0, 0, 0)
}

.container__main__window{
        height: 100%;
        width: 100%;
        background: linear-gradient(197deg, #C177FB 0%, #E9D2FC 100%);
        background-size: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: white;
}

.mobileMenu{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #C177FB;
    color: white;
    transform: translateX(100%);
    transition: all 0.5s;
}

.checked{
    display: flex;
    transform: translateX(0%);
}

.mobileMenu span{
    font-size: 45px;
    font-weight: bolder;
    margin: 20px;
}

.mobileMenu ul{
    text-align: center;
}

.mobileMenu ul li{
    list-style-type: none;
}

.mobileMenu ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 35px;
}

.container{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: gray;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    transition: 0.5s all;
}

.mobBut{
    z-index: 5;
    position: relative;
}

.menu ul li a:hover{
    color: rgb(255, 206, 206);
}



.menu__burger.active div:nth-of-type(1) {
    position: absolute;
    display: none;
  }
  .menu__burger.active div:nth-of-type(2) {
    top: 50%;
    transform: rotate(45deg);
    position: absolute;
  }
  .menu__burger.active div:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg); 
    position: absolute;
  }

.menu__burger{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    z-index: 5;
}



.line{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 100px;
    transition: all 0.5s;
}


.checker-main{
    position: fixed;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.checker{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.radio{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.radio:hover{
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.main__info img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}

.main__info > span{
    font-size: 6vh;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info span p{
    font-size: 4vh;
    font-weight: lighter;
}

.main__info > p{
    width: 30%;
    font-size: 20px;
    text-align: center;
}

.mainhr{
    width: 30%;
    height: 5px;
    background: white;
    border-radius: 100px;
}


.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsblock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 35px;
    width: 700px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
}

.project span{
    font-size: 60px;
}

.project p{
    width: 70%;
    text-align: center;
    font-size: 30px;
}

.trafic{
    background-image: url("../img/backobj/Trafic.jpg");
}

.russianarts{
    background-image: url("../img/backobj/RussianArts.jpg");
}

.blanko{
    background-image: url("../img/backobj/blanko.jpg");
}

.vestnik{
    background-image: url("../img/backobj/Vestnik.jpg");
}

.hrprodhr{
    width: 80%;
    background: white;
    height: 5px;
    border-radius: 100px;
}

.project button{
    padding: 20px;
    border-radius: 10px;
    background: #723232;
    color: white;
    transition: 500ms all;
    font-size: 20px;
    border: none;
    width: 250px;
    font-weight: bolder;
}

.project button:hover{
    background: #964545;
    cursor: pointer;
}


.orders{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders form{
    width: 635px;
    height: 435px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.orders form span{
    font-size: 30px;
    color: white;
    font-weight: bolder;

}

.orders form button{
    padding: 15px;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 9px;
    background: #964545;
    color: white;
    font-weight: bolder;
    transition: 0.5s all;
}

.orders form button:hover{
    background: #c26565;
}

.text-field{
    position: relative;
    width: 335px;
    margin: 20px;
}

.text-field__inp{
    width: 100%;
    height: 30px;
    border-radius: 9px;
    border: none;
    outline:none;
    transition: 0.5s all;
    font-weight: bolder;
}

.text-field__placeholder{
    display: block;
    position: absolute;
    left: 10px;
    top: 4px;
    color: #d6d0d0;
    pointer-events: none;
    padding: 3px;
    background-color: white; 
    transition: 0.5s all;
    border-radius: 2px;
}

.text-field__inp:focus, .text-field__inp:not(:focus):valid{
    border-radius: 0px 5px 5px 5px;
}

.text-field__inp:focus + .text-field__placeholder,.text-field__inp:not(:focus):valid + .text-field__placeholder
{
    top: -21px;
    left: 0;
    font-size: 17px;
    color: black;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme span{
    font-size: 2.86vw;
}

.aboutme p{
    font-size: 1.30vw;
    width: 26.04vw;
    text-align: center;
}

.aboutme img{
    width: 250px;
    height: 250px;
}

.social{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    font-size: 25px;
}

.social span{
    display: flex;
    align-items: center;
    font-size: 26px;
    text-align: center;
}

.social__main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abouts{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 870px) {

    .checker{
        display: none;
    }

    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu{
        display: none;
    }

    .menu__burger{
        display: flex;
    }

    .container{
        height: 120%;
    }
    
    .main__info img {
        width: 150px;
        height: 150px;
    }

    .main__info span{
        font-size: 50px;
    }

    .main__info span p{
        font-size: 35px;
    }

    .mainhr{
        width: 350px;
    }
    
    .main__info > p{
        width: 250px;
        font-size: 15px;
    }

    .projectsblock{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .project{
        width: 365px;
        height: 200px;
    }

    .project span{
        font-size: 25px;
    }

    .project p{
        font-size: 20px;
    }

    .project button{
        width: 100px;
        height: 50px;
        font-size: 10px;
    }

    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 180%;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
    }

    .aboutme img{
        width: 125px;
        height: 125px;
    }

    .social span{
        font-size: 25px;
    }

    .aboutme span{
        font-size: 45px;
    }

    .aboutme p{
        width: 250px;
        font-size: 15px;
    }

    .social span img{
        width: 35px;
        height: 35px;
    }

    .social{
        height: 300px;
    }
  }